# Explore here

It's recommended to use this notebook for exploration purposes.

In [16]:
import os
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv

# load the .env file variables
load_dotenv()

# 1) Connect to the database here using the SQLAlchemy's create_engine function

# 2) Execute the SQL sentences to create your tables using the SQLAlchemy's execute function

# 3) Execute the SQL sentences to insert your data using the SQLAlchemy's execute function

# 4) Use pandas to print one of the tables as dataframes using read_sql function

True

In [17]:
from bs4 import BeautifulSoup
import requests
import time


url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
page = requests.get(url, time.sleep(10)).text

if "403 Forbidden" in page:
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.6312.58 Safari/537.36 Brave/1.64.109"}
    request = requests.get(url, headers = headers)
    time.sleep(10)
    page = request.text

In [47]:
from bs4 import BeautifulSoup
import pandas as pd

html_table = '''<table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2023-06-30</td>
 <td style="text-align:center">$24,927</td>
 </tr>
 <tr>
 <td style="text-align:center">2023-03-31</td>
 <td style="text-align:center">$23,329</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-12-31</td>
 <td style="text-align:center">$24,318</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-09-30</td>
 <td style="text-align:center">$21,454</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-06-30</td>
 <td style="text-align:center">$16,934</td>
 </tr>
 <tr>
 <td style="text-align:center">2022-03-31</td>
 <td style="text-align:center">$18,756</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-12-31</td>
 <td style="text-align:center">$17,719</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-09-30</td>
 <td style="text-align:center">$13,757</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-06-30</td>
 <td style="text-align:center">$11,958</td>
 </tr>
 <tr>
 <td style="text-align:center">2021-03-31</td>
 <td style="text-align:center">$10,389</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-12-31</td>
 <td style="text-align:center">$10,744</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-09-30</td>
 <td style="text-align:center">$8,771</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-06-30</td>
 <td style="text-align:center">$6,036</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-03-31</td>
 <td style="text-align:center">$5,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-12-31</td>
 <td style="text-align:center">$7,384</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-09-30</td>
 <td style="text-align:center">$6,303</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-06-30</td>
 <td style="text-align:center">$6,350</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-03-31</td>
 <td style="text-align:center">$4,541</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-12-31</td>
 <td style="text-align:center">$7,226</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-09-30</td>
 <td style="text-align:center">$6,824</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-06-30</td>
 <td style="text-align:center">$4,002</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-03-31</td>
 <td style="text-align:center">$3,409</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-12-31</td>
 <td style="text-align:center">$3,288</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-09-30</td>
 <td style="text-align:center">$2,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-06-30</td>
 <td style="text-align:center">$2,790</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-03-31</td>
 <td style="text-align:center">$2,696</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-12-31</td>
 <td style="text-align:center">$2,285</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-09-30</td>
 <td style="text-align:center">$2,298</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-06-30</td>
 <td style="text-align:center">$1,270</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-03-31</td>
 <td style="text-align:center">$1,147</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-12-31</td>
 <td style="text-align:center">$1,214</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-09-30</td>
 <td style="text-align:center">$937</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-06-30</td>
 <td style="text-align:center">$955</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-03-31</td>
 <td style="text-align:center">$940</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-12-31</td>
 <td style="text-align:center">$957</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-09-30</td>
 <td style="text-align:center">$852</td>
 </tr>'''

imported_table = BeautifulSoup (html_table, 'html.parser')

column_1 = []
column_2 = []

for i in range (0,72):
    if i % 2 == 0:        
        first_column = imported_table.find_all('td')[i].text
        column_1.append(first_column)
    else:
        second_column = imported_table.find_all('td')[i].text.replace("$", "").replace(",", " ")
        column_2.append(second_column)

#print (column_1)
#print (column_2)

d = {'Date': column_1, 'Revenue': column_2}
df = pd.DataFrame (data=d)
df

          Date Revenue
0   2023-06-30  24 927
1   2023-03-31  23 329
2   2022-12-31  24 318
3   2022-09-30  21 454
4   2022-06-30  16 934
5   2022-03-31  18 756
6   2021-12-31  17 719
7   2021-09-30  13 757
8   2021-06-30  11 958
9   2021-03-31  10 389
10  2020-12-31  10 744
11  2020-09-30   8 771
12  2020-06-30   6 036
13  2020-03-31   5 985
14  2019-12-31   7 384
15  2019-09-30   6 303
16  2019-06-30   6 350
17  2019-03-31   4 541
18  2018-12-31   7 226
19  2018-09-30   6 824
20  2018-06-30   4 002
21  2018-03-31   3 409
22  2017-12-31   3 288
23  2017-09-30   2 985
24  2017-06-30   2 790
25  2017-03-31   2 696
26  2016-12-31   2 285
27  2016-09-30   2 298
28  2016-06-30   1 270
29  2016-03-31   1 147
30  2015-12-31   1 214
31  2015-09-30     937
32  2015-06-30     955
33  2015-03-31     940
34  2014-12-31     957
35  2014-09-30     852

In [6]:
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

for index, table in enumerate(imported_table):
    if ("Tesla Quarterly Revenue" in str(imported_table)):
        table_index = index
        break

In [7]:
import pandas as pd

tesla_revenue = pd.DataFrame(columns = ["Date", "Revenue"])
for row in imported_table[table_index].find("tr"):
    col = row.find("td")
    if (col != []):
        Date = col[0].text
        Revenue = col[1].text.replace("$", "").replace(",", "")
        tesla_revenue = pd.concat([tesla_revenue, pd.DataFrame({
            "Date": Date,
            "Revenue": Revenue
        }, index = [0])], ignore_index = True)

tesla_revenue.head()

KeyError: 0